<div class="card shadow my-5 p-5">
  <%= simple_form_for(@book) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :title %>
    <%= f.input :images, input_html: { multiple: true }, class: 'form-control-sm my-3' %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-sm btn-outline-success mt-3' %>
    </div>
  <% end %>
</div>
